# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Editor related
.vscode/

coverage.txt
profile.out

example/example
example/dkg/id-10001-output.yaml
example/dkg/id-10002-output.yaml
example/dkg/id-10003-output.yaml
